
@{
    ViewBag.Title = "Update";
}

<div class="container">
    <br />
    <br />

    <div class="row">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kayıt Ol</li>
            </ol>
        </nav>

        <div class="col-md-8">
            <!-- Makale Listesi-->
            <h3>Bilgileriniz başarıyla güncellenmiştir.</h3>



        </div>
        <div class="col-md-4">
            <!-- Kategori Listesi -->
            <div class="list-group" style="max-width:355px;">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Tüm Kategoriler
                </a>
                <a href="#" class="list-group-item list-group-item-action">Kategori A</a>
                <a href="#" class="list-group-item list-group-item-action">Kategori B</a>
                <a href="#" class="list-group-item list-group-item-action">Kategori C</a>
                <a class="list-group-item list-group-item-action disabled">Kategori D</a>
            </div>

            <br />
            <h6 style="color:darkblue">En çok okunan makaleler</h6>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../Content/images/Juke.jpg" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Başlık</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock" style="font-size:20px"></i>Tarih  --  <i class="bi bi-eye" style="font-size:20px"></i> 10 Görüntülenme</small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../Content/images/2021-SEAT-Ateca-1-min.jpg" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Başlık</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock" style="font-size:20px"></i>Tarih  --  <i class="bi bi-eye" style="font-size:20px"></i> 10 Görüntülenme</small>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../Content/images/Golf.jpg" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Başlık</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock" style="font-size:20px"></i>Tarih  --  <i class="bi bi-eye" style="font-size:20px"></i> 10 Görüntülenme</small>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
